[submodule "AFileIcon"]
	path = AFileIcon
	url = git@github.com:SublimeText/AFileIcon.git
[submodule "Typescript"]
	path = Typescript
	url = git@github.com:microsoft/TypeScript-Sublime-Plugin.git
[submodule "SublimeLinter"]
	path = SublimeLinter
	url = git@github.com:SublimeLinter/SublimeLinter.git
[submodule "SublimeLinter-tslint"]
	path = SublimeLinter-tslint
	url = git@github.com:SublimeLinter/SublimeLinter-tslint.git
[submodule "sublime"]
	path = sublime
	url = git@github.com:dracula/sublime.git
